/* Defaults */
body {
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

/* Change the colour theme to better match Amon */

.repo a {
  background: #e34b30;
}
.md-backdrop {
  background: white;
}
.backdrop-paper:after {
  border: 3px solid #f5f2f9;
  box-shadow: 0 4px 0px rgba(0,0,0,0), 0 4px 12px rgba(0,0,0,0);
}
@media only screen and (max-width: 959px) {
  .palette-primary-amon .project {
    background: #e34b30;
  }
}
.md-header {
  box-shadow: 0 4px 0px rgba(0,0,0,0), 0 4px 12px rgba(0,0,0,0);
}

/* background: pd-navy */
.palette-primary-amon,
.md-footer-nav,
.md-header,
.palette-primary-amon .results .meta,
.palette-primary-amon .article table th {
  background: #1f293a;
}

.md-footer-meta {
  display: none;
}

.md-content table th {
  background: #555;
}

.md-article h1,
.md-article h2,
.md-nav__link--active,
.md-sidebar--primary a.current,
.md-sidebar--primary a:focus,
.md-sidebar--primary a:hover,
.md-nav--secondary a:hover,
.md-content a:hover {
  color: #e34b30;
}

.md-content a {
  color: #1f293a;
  border-bottom: 1px dotted;
}

/* Hide the page title, already in the navbar */
.md-article h1 {
  display: none;
}

.md-article,
.md-typeset {
	font-size: 1.5em;
}
.md-article li {
  margin-left: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Too much whitespace at the top, not enough at bottom */
.md-article {
  padding: 56px 16px 132px !important;
}

.md-main__inner {
  margin-top: 3.6rem;
}

ul, ol {
  padding-left: 1em;
  padding-top: 1em;
}
.md-sidebar--primary label {
  display: none;
}
.md-sidebar--primary li {
  padding-left: 0;
  padding-bottom: 10px
}
.md-sidebar--primary {
  font-size: 14px;
}

/* Don't overflow horizontally on nav */
.md-sidebar--primary ul li a {
	white-space: nowrap;
	text-overflow: ellipsis;
  font-size: 16px;
}
.md-nav--secondary {
    border-left: .4rem solid #1f293a;
}
.md-header-nav__button.md-logo img {
  display: none;
}
.md-header-nav__button.md-logo {
  min-height: 2em;
  width: 4.4em;

  background: url(/assets/img/logo-white-text.png) 0em 0.1em no-repeat;
  background-size: contain;
}

nav div.mainlogo img {
  display: none;
}

/* Admonition */
.admonition {
  background: #3cc05e;
  color: white;
}
.admonition.info {
  background: #3cc05e;
}

@media print {
  .admonition {
    padding: 1em 2em !important;
  }
}

/* Typography */
h4 {
  font-weight: bold;
  text-decoration: underline;
}


span.bad {
  color: #f00;
}

span.good {
  color: #008800;
}

span.code,
code {
  border-radius: 4px;
  background: hsla(0,0%,93%,.5);
  color: #382937 !important;
}
.md-content  li code {
  padding: 0.5em;
}
pre{
  background: #f5f2f9;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* Icons */
.button .icon:hover {
  transition: color 250ms ease-in-out;
  color: #e34b30;
}

/* Images */
.article .wrapper {
	overflow: hidden;
}

/* Center all images */
.md-content img {
    display: block;
    margin: 0 auto;
}

.md-content  code {
  background: hsla(0,0%,93%,.5);
}

/* Header images */
.md-content  h1 + p + p img {
  max-width: 110%;
  margin-left: -2em;
}

/* Image Captions */
img + em {
  position: relative;
  font-size: 0.8em;
  margin-right: -2.3em;
  padding: 0em 1em;
  float: right;
  margin-top: -2.1em;
  color: #000;
  border-top-left-radius: 3px;
  background: rgba(255, 255, 255, 0.7);
}

/* Fixes for smaller screen sizes */
@media only screen and (max-width: 720px) {
  .article h1 + p + p img {
    max-width: 120%;
  }

  .article h1 + p + p img + em {
    margin-right: -1.4em;
    margin-top: -2em;
  }
}

/* Hack to hide the header images when printing. */
@media print {
  .article h1 + p + p img {
    display: none;
  }

  .article h1 + p + p img + em {
    display: none;
  }
}
/* Quotes */
.article blockquote {
  border-left: 3px solid #555;
  background: #f9f9f9;
  padding: 1em;
  padding-left: 16px;
  margin-top: 1em;
  color: #333;
  font-style: italic;
}

.article blockquote p {
  margin: 0em;
  padding: 0.5em 0em;
}

/* Horizontal Rules */
.article hr {
  margin-top: 2em;
  border-top: 2px solid #f4f4f4;
}

/* Don't care about copyright notice for this project, Apache License. */
aside.copyright {
  display: none;
}


/* Embeds */
iframe {
  display: block;
  margin: 0 auto;
  margin-top: 1em;
}

/* 404 Page */
#error {
  text-align: center;
  padding: 0em 5em;
}

#error h1 {
  display: block;
	font-size: 2.5em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
  border-bottom: 1px solid #eee;
}

#error p {
  font-style: italic;
  color: #555;
}
